<ng-container [ngSwitch]="chartItem.type">
  <app-chart-pie-drag *ngSwitchCase="'chartPieDrag'" [params]="chartItem.data"></app-chart-pie-drag>
  <app-chart-pie *ngSwitchCase="'chartPie'" [params]="chartItem.data"></app-chart-pie>
  <column-multi-hc *ngSwitchCase="'columnMultiHc'" [params]="chartItem.data"></column-multi-hc>
  <pie-hc *ngSwitchCase="'pieHc'" [params]="chartItem.data"></pie-hc>
  <pie-donut-hc *ngSwitchCase="'pieDonutHc'" [params]="chartItem.data"></pie-donut-hc>
  <basis-area-hc *ngSwitchCase="'basisAreaHc'" [params]="chartItem.data"></basis-area-hc>
  <basis-line-hc *ngSwitchCase="'basisLineHc'" [params]="chartItem.data"></basis-line-hc>
  <column-axis-break *ngSwitchCase="'columnAxisBreak'" [params]="chartItem.data"></column-axis-break>
</ng-container>
      